* {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 3px;
}

body {
    background-color: black;
    overflow: auto;
}

.move a {
    position: relative;
    left: 85%;
    bottom: 35px;
    text-decoration: none;
    color: #FFD700;
}

.menu {
    position: relative;
    color: #ffd700;
}

.menu {
    border: 1px solid #fff;
    box-shadow: 0 0 19px #FFFF00;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
}

.loja img {
    width: 550px;
    margin-top: 55px;
    border: 2px solid #000;
    box-shadow: 0 0 16px #FFD700;
}

.sobre {
    position: relative;
    left: 40%;
    bottom: 400px;
    display: block;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #fff;
    width: 850px;
}

.sobre h2 {
    color: #FFD700;
    font-size: 35px;
}

.sobre p {
    display: block;
    right: 20px;
}

#produtos {
    color: #fff;
}

.produtos h2 {
    color: #FFD700;
    font-size: 35px;
}

.produto {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
}

.produto img {
    width: 300px;
    border: 5px solid #FFD700;
}

.produto p {
    width: 50px;
    font-size: 29px;
}

.produto button {
    color: #fff;
    background-color: green;
    cursor: pointer;
    margin-bottom: 100px;
    padding: 11px;
    border-radius: 5px;
    display: inline;
    width: 98%;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}

.produto button:hover {
    background-color: #39FF14;
}

.git {
    color: #FFD700;
}

.git a {
    color: blue;
}

::-webkit-scrollbar {
    overflow-x: scroll;
}

@media screen and (min-width:450px) and (max-width:639px){
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
    }
    
    body {
        background-color: black;
        overflow: auto;
    }
    
    .move a {
        position: relative;
        bottom: 45px;
        margin-left: -12%;
        text-decoration: none;
    }
    
    .menu {
        position: relative;
        border: 1px solid #fff;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 415px;
        margin-top: 55px;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        width: 550px;
    }
    
    .sobre h2 {
        font-size: 35px;
        margin-left: 5px;
    }
    
    .sobre p {
        display: block;
        width: 400px;
    }
    #produtos {
        display: block;
    }

    .produtos h2 {
        font-size: 35px;
        margin-left: 20px;
    }

    .produto {
        display: block;
        right: 50%;
        margin-left: 80px;
    }
    
    .produto img {
        margin-left: -15px;
        width: 300px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 25px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 80px;
        padding: 11px;
        border-radius: 5px;
        display: block;
        width: 85%;
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 640px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
    }
    
    body {
        background-color: black;
        overflow: auto;
    }
    
    .move a {
        position: relative;
        bottom: 46px;
        left: 79%;
        text-decoration: none;
    }
    
    .menu {
        position: relative;
        border: 1px solid #fff;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 550px;
        margin-top: 55px;
        border: 2px solid #000;
        box-shadow: 0 0 16px #FFD700;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        width: 550px;
    }
    
    .sobre h2 {
        font-size: 35px;
        margin-left: 5px;
    }
    
    .sobre p {
        display: block;
        right: 20px;
    }
    #produtos {
        display: block;
    }

    .produtos h2 {
        font-size: 35px;
        margin-left: 20px;
    }

    .produto {
        display: block;
        right: 50%;
        margin-left: 80px;
    }
    
    .produto img {
        margin-right: 10px ;
        width: 300px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 25px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 80px;
        padding: 11px;
        border-radius: 5px;
        display: block;
        width: 70%;
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
    }
    
    body {
        background-color: black;
        overflow: auto;
    }
    
    .move a {
        position: relative;
        bottom: 46px;
        left: 79%;
        text-decoration: none;
    }
    
    .menu {
        position: relative;
        border: 1px solid #fff;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 550px;
        margin-top: 55px;
        border: 2px solid #000;
        box-shadow: 0 0 16px #FFD700;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        width: 550px;
    }
    
    .sobre h2 {
        font-size: 35px;
        margin-left: 5px;
    }
    
    .sobre p {
        display: block;
        right: 20px;
    }
    #produtos {
        display: block;
    }

    .produtos h2 {
        font-size: 35px;
        margin-left: 29px;
    }

    .produto {
        display: ruby;
        right: 40%;
        margin-left: 18px;
    }
    
    .produto img {
        width: 250px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 25px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 85px;
        padding: 11px;
        border-radius: 5px;
        display: block;
        width: 95%;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
} 

@media screen and (min-width: 1024px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
    }
    
    body {
        background-color: black;
        overflow: auto;
    }
    
    .move a {
        position: relative;
        bottom: 45px;
        left: 90%;
        text-decoration: none;
    }
    
    .menu {
        position: relative;
        border: 1px solid #fff;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 550px;
        margin-top: 55px;
        margin-left: 28%;
        border: 2px solid #000;
        box-shadow: 0 0 16px #FFD700;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: inline;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        width: 555px;
    }
    
    .sobre h2 {
        font-size: 35px;
        margin-left: 5px;
    }
    
    .sobre p {
        display: block;
        right: 20px;
    }

    .produtos h2 {
        font-size: 35px;
        margin-left: 29px;
    }

    .produto {
        right: 40%;
        margin-left: 18px;
        display: flex;
    }
    
    .produto img {
        width: 250px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 25px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 85px;
        padding: 11px;
        border-radius: 5px;
        width: 90%;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
}