* {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 3px;
}

body {
    background-color: black;
    overflow: auto;
}

.move a {
    position: relative;
    left: 85%;
    bottom: 35px;
    text-decoration: none;
    color: #FFD700;
}

.menu {
    position: relative;
    color: #ffd700;
}

.menu {
    border: 1px solid #fff;
    box-shadow: 0 0 19px #FFFF00;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
}

.loja img {
    width: 550px;
    margin-top: 55px;
    border: 2px solid #000;
    box-shadow: 0 0 16px #FFD700;
}

.sobre {
    position: relative;
    left: 40%;
    bottom: 400px;
    display: block;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #fff;
    width: 850px;
}

.sobre h2 {
    color: #FFD700;
    font-size: 35px;
}

.sobre p {
    display: block;
    right: 20px;
}

#produtos {
    color: #fff;
}

.produtos h2 {
    color: #FFD700;
    font-size: 35px;
}

.produto {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
}

.produto img {
    width: 300px;
    border: 5px solid #FFD700;
}

.produto p {
    width: 50px;
    font-size: 29px;
}

.produto button {
    color: #fff;
    background-color: green;
    cursor: pointer;
    margin-bottom: 100px;
    padding: 11px;
    border-radius: 5px;
    display: inline;
    width: 98%;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}

.produto button:hover {
    background-color: #39FF14;
}

.git {
    color: #FFD700;
}

.git a {
    color: blue;
}

::-webkit-scrollbar {
    overflow-x: scroll;
}

@media screen and (min-width:320px) and (max-width:445px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 5px;
    }
    
    .move a {
        position: relative;
        bottom: 40px;
        margin-left: -14%;
        text-decoration: none;
    }
    
    .menu {
        border: 1px solid #fff;
        width: 390px;
        margin-left: -3px;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 370px;
        margin-top: 55px;
        margin-right: 1px;
    }
    
    .sobre {
        position: relative;
        left: -4%;
        bottom: 10px;
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 10px;
        color: #fff;
        width: 9px;
        font-size: 18px;
    }
    
    .sobre h2 {
        font-size: 40px;
        margin-left: 5px;
    }
    
    .sobre p {
        display: block;
        width: 400px;
    }
    #produtos {
        display: block;
    }

    .produtos h2 {
        font-size: 40px;
        margin-left: 1px;
    }

    .produto {
        display: block;
        margin-left: 80px;
    }
    
    .produto img {
        margin-left: -55px;
        width: 300px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 29px;
        margin-left: -50px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 90px;
        padding: 15px;
        margin-left: -55px;
        border-radius: 5px;
        display: block;
        width: 315px;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
}

@media screen and (min-width:450px) and (max-width:539px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
    }
    
    .move a {
        position: relative;
        bottom: 45px;
        margin-left: -12%;
        text-decoration: none;
    }
    
    .menu {
        position: relative;
        border: 1px solid #fff;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 415px;
        margin-top: 55px;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        width: 550px;
    }
    
    .sobre h2 {
        font-size: 35px;
        margin-left: 5px;
    }
    
    .sobre p {
        display: block;
        width: 400px;
    }
    #produtos {
        display: block;
    }

    .produtos h2 {
        font-size: 35px;
        margin-left: 20px;
    }

    .produto {
        display: block;
        right: 50%;
        margin-left: 80px;
    }
    
    .produto img {
        margin-left: -15px;
        width: 300px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 25px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 80px;
        padding: 11px;
        border-radius: 5px;
        display: block;
        width: 85%;
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 540px) and (max-width:640px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 5px;
    }
    
    body {
        background-color: black;
        overflow: auto;
    }
    
    .move a {
        bottom: 38px;
        left: 350px;
        text-decoration: none;
    }
    
    .menu {
        position: absolute;
        border: 1px solid #fff;
        width:500px;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 480px;
        margin-top: 135px;
        border: 1px solid #000;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 30px;
        color: #fff;
        width: 500px;
        font-size: 20px;
    }
    
    .sobre h2 {
        font-size: 35px;
        margin-left: 5px;
    }
    
    .sobre p {
        display: block;
        right: 20px;
    }
    #produtos {
        display: block;
    }

    .produtos h2 {
        font-size: 35px;
        margin-left: 20px;
    }

    .produto {
        display: block;
        right: 50%;
        margin-left: 80px;
    }
    
    .produto img {
        margin-right: 10px ;
        width: 330px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 30px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 80px;
        padding: 11px;
        border-radius: 5px;
        display: block;
        width: 80%;
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 641px) and (max-width: 852px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
    }
    
    .move a {
        position: relative;
        bottom: 35px;
        left: 83%;
        text-decoration: none;
    }
    
    .menu {
        position: relative;
        border: 1px solid #fff;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        margin-left: 70px;
        width: 550px;
        margin-top: 55px;
        border: 2px solid #000;
        box-shadow: 0 0 16px #FFD700;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        font-size: 18px;
        width:730px;
    }
    
    .sobre h2 {
        font-size: 35px;
        margin-left: -8px;
    }
    
    .sobre p {
        display: block;
        right: 20px;
    }
    #produtos {
        display: block;
    }

    .produtos h2 {
        font-size: 35px;
        margin-left: -1px;
    }

    .produto {
        display: ruby;
        right: 40%;
        margin-left: 20px;
    }
    
    .produto img {
        width: 340px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 25px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 85px;
        padding: 11px;
        border-radius: 5px;
        display: block;
        width: 95%;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
    }

    .nvi {
        margin-left: 13px;
    }

    .fim {
        margin-left:5px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
} 

@media screen and (min-width: 853px) and (max-width: 1023px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
    }
    
    body {
        background-color: black;
        overflow: auto;
    }
    
    .move a {
        position: relative;
        bottom: 45px;
        left: 80%;
        text-decoration: none;
        font-size: 22px;
    }
    
    .menu {
        position: relative;
        border: 1px solid #fff;
        width:790px;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 750px;
        margin-top: 55px;
        border: 2px solid #000;
        box-shadow: 0 0 16px #FFD700;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        width: 750px;
        font-size: 25px;
    }
    
    .sobre h2 {
        font-size: 40px;
        margin-left: 5px;
    }
    
    .sobre p {
        display: block;
        right: 20px;
    }
    #produtos {
        display: block;
    }

    .produtos h2 {
        font-size: 40px;
        margin-left: 29px;
        margin-top: 50px;
    }

    .produto {
        display: ruby;
        right: 40%;
        margin-left: 18px;
    }
    
    .produto img {
        width: 328px;
        border: 5px solid #FFD700;
    }
    
    .produto p {
        font-size: 35px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 85px;
        padding: 11px;
        border-radius: 5px;
        display: block;
        width: 95%;
        font-weight: bold;
        font-style: italic;
        font-size: 25px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
} 

@media screen and (min-width: 1024px) {
    * {
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
    }
    
    body {
        background-color: black;
        overflow: auto;
    }
    
    .move a {
        position: relative;
        bottom: 45px;
        left: 87%;
        text-decoration: none;
    }
    
    .menu {
        position: relative;
        border: 1px solid #fff;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: block;
    }
    
    .loja img {
        width: 550px;
        margin-top: 55px;
        margin-left: 20%;
        border: 2px solid #000;
        box-shadow: 0 0 16px #FFD700;
    }
    
    .sobre {
        position: relative;
        left: 1%;
        bottom: 10px;
        display: inline;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        font-size: 20px;
    }
    
    .sobre h2 {
        font-size: 40px;
        margin-left: -35px;
    }
    
    .sobre p {
        display: block;
        margin-left: -35px;
    }

    .produtos h2 {
        font-size: 40px;
        margin-left: -20px;
    }

    .produto {
        right: 40%;
        margin-left: 18px;
        display: flex;
    }
    
    .produto img {
        width: 225px;
        border: 5px solid #FFD700;
        margin-left: 50px;
        margin-right: 16px;
    }
    
    .produto p {
        font-size: 20px;
        margin-left: 55px;
    }
    
    .produto button {
        cursor: pointer;
        margin-bottom: 85px;
        margin-left: 55px;
        padding: 11px;
        border-radius: 5px;
        width: 78%;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
    }

    .bible {
        margin-left: -85px;
    }

    .sagrada {
        margin-left: -55px;
    }

    .nvi {
        margin-left: -55px;
    }

    .fim{
        margin-left: -55px;
    }

    .git {
        font-size: 23px;
    }
    
    ::-webkit-scrollbar {
        overflow-x: scroll;
    }
}

@media screen and (min-width:1280px) {
    .move a {
        position: relative;
        bottom: 45px;
        left: 90%;
        text-decoration: none;
    }

    .loja img {
        width: 780px;
        margin-top: 50px;
        margin-left: 20%;
        border: 2px solid #000;
        box-shadow: 0 0 16px #FFD700;
    }
    
    .sobre {
        position: relative;
        top: 19px;
        left: 1%;
        bottom: 10px;
        display: inline;
        text-align: left;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #fff;
        font-size: 24px;
    }

    .produto {
        display: flex;
    }
    
    .produto img {
        width: 240px;
        border: 5px solid #FFD700;
    }

    .produto p {
        font-size: 28px;
    }

    .produto button {
        cursor: pointer;
        margin-bottom: 85px;
        padding: 11px;
        border-radius: 5px;
        width: 70%;
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
    }

    .sagrada {
        margin-left: -55px;
    }

    .nvi {
        margin-left: -55px;
    }

    .fim{
        margin-left: -55px;
    }

    .git {
        font-size: 25px;
    }
}